.del {
  border: none;
  position: absolute;
  right: 5px;
  top: 5px;
  height: 25px;
  width: 25px;
  background: red;
  color: #fff;
  cursor: pointer;
}

.edit {
  border: none;
  position: absolute;
  right: 35px;
  top: 5px;
  height: 25px;
  width: 50px;
  background: blue;
  color: #fff;
  cursor: pointer;
}
