.page {
  max-width: 1000px;
  margin: 15px auto;
  min-height: 600px;
  box-shadow: 0 0 3px 2px #0000007d;
  padding: 15px;
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
